<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="../static/stylelogin.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Admin Login</h1>
        </header>
        <form action="/admin/adminlogin" method="POST" onsubmit="return validateEmail() && validatePassword()">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" onkeyup="validateEmail()" required />
            <span id="emailerror"></span>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" onkeyup="validatePassword()" required />
            <span id="passwordError"></span>

            <% if(expressFlash.invalidpassword){%>
                <div style="color: red; font-size: 16px; font-weight: bold;">
                    <%= expressFlash.invalidpassword%>
                </div>
                        <%}%>
                    <button type="submit">Login</button>
                    <% if(expressFlash.invaliduser){%>
                        <div style="color: red; font-size: 16px; font-weight: bold;">
                            <%= expressFlash.invaliduser%>
                        </div>
                                <%}%>
        </form>
        <p>
            <%=locals.message?message:""%>
        </p>
    </div>
    <script>
        function validateEmail() {
            var emailError = document.getElementById('emailerror');
            var email = document.getElementById('email').value;
            if (!email.match(/^[A-Za-z\._\-[0-9]+@[A-Za-z]+\.[a-z]{2,}$/)) {
                emailError.innerHTML = 'Email is invalid'
                return false;
            } else {
                emailError.innerHTML = ''
                return true;
            }

        }
        function validatePassword() {
            var passwordError = document.getElementById('passwordError');
            var password = document.getElementById('password').value;

            if (!password.match(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()-_+=<>?])[A-Za-z\d\S]{8,}$/)) {
                passwordError.innerHTML = 'Password must meet the following criteria:<br>' +
                    '- At least 8 characters in length<br>' +
                    '- At least one letter (uppercase or lowercase)<br>' +
                    '- At least one digit<br>' +
                    '- At least one symbol';
                return false;
            } else {
                passwordError.innerHTML = '';
                return true;
            }
        } 
    </script>
</body>

</html>